{% include 'header.html' %}
<div class="pure-g">
  <div class="pure-u-1-12">%nbsp</div>
  <div class="pure-u-20-24">
  <h3>Whoops, something went wrong!</h3>
  <p>
  <strong>{{ error }}</strong>
  </p>
  <p>
  <a href="javascript:history.back()">go back</a>
  </p>
  </div>
  <div class="pure-u-1-12">%nbsp</div>
</div>
{% include 'footer.html' %}
