<div class="pure-g">
  <div class="pure-u-1-12">&nbsp;</div>
  <div class="pure-u-20-24">
    <p align="right"><small>
      Made with &hearts;,
      <a href="https://purecss.io" target="_blank">PureCSS</a> and
      <a href="https://flask.palletsprojects.com" target="_blank">Flask</a> by
      <a href="https://solutr.com" target="_blank">Jan Kapellen</a>.
      <br />
      <a href="https://github.com/matschundbrei/toldya" target="_blank">Fork this on Github.</a>
    </small></p>
  </div>
  <div class="pure-u-1-12">&nbsp;</div>
</div>
</body>
</html>
