{% include 'header.html' %}
<div class="pure-g">
  <div class="pure-u-1-12">&nbsp;</div>
  <div class="pure-u-20-24">
    <p>&nbsp;</p>
    <p>
    <strong>{{ tell.person }}</strong> told <strong>{{ tell.target }}</strong>:
    </p><p>
    <blockquote>
    {{ tell.text }}
    </blockquote>
    </p><p>
    <em>created at {{ tell.date }}</em>
    </p>
    {% if not tell.ispub %}
    <p><em>
    The id is: {{ tell.id }}
    </em></p>
    {% endif %}
    <p>
    <a href="/">return to start</a>
    </p>
  </div>
  <div class="pure-u-1-12">&nbsp;</div>
</div>
{% include 'footer.html' %}
